/* ============================================================
  SECTIONS
============================================================ */
h1 {
font-size: 38px;
color: #00909C;
text-align: center;
margin-bottom: 6rem;
font-family: 'Montserrat', sans-serif;
}

h2{
  font-size: 28px;
  color: #34A3AC;
  text-align: center;
font-family: 'Montserrat', sans-serif;
}


.mkb-thumb{
  max-width: 32px;
max-height: 32px;
margin-left: 1rem;

}

.resume{
  max-width: 32px;
max-height: 32px;
margin-left: 1rem;

}

.dl-resume{
max-width: 35px;
max-height: 35px;
margin-left: 1rem;

}

.mail{
max-width: 38px;
max-height: 38px;
margin-left: 5px;

}

.introduction-section{
  padding-left: 6rem;
padding-right: 6rem;
}


.recent{
  margin-bottom: 4rem;
margin-top: 15rem;
}

.linkedin-thumb {
    max-width: 32px;
max-height: 32px;
margin-left: 1rem;

}

/*h4{
 background:#EEEEEE;
}*/

.mkb{
  display: block;
margin-left: auto;
margin-right: auto;
max-width: 100%;
}

.think{
  color: #084A4F;
  font-size: 3.5rem;
 /* margin-top: 12rem;*/
}

img{
margin-top: 1rem;
margin-bottom: 1rem;
border-radius: 1.2rem;
max-width: 100%;

}

img.dan-img{
margin: 0 auto;
display: block;
margin-bottom: 5rem;
}

h4 img {
    border-style: groove;
    border-width: 3px;

}

h3.praise {
color: #555;
font-family: "Source Sans Pro";
line-height: 1.6;
text-align: center;
/* margin-bottom: 20rem; */
font-size: 25px;
font-weight: 100;
}

h3.name{
color: #00909C;
font-family: "Source Sans Pro";
line-height: 1.6;
text-align: center;
margin-bottom: 20rem;
font-size: 18px;
font-weight: 700;
}



a{
  color:#00909C;
  font-family: 'Montserrat', sans-serif;
}

.think-link{
	color:#084A4F
}

a.cp1{
  color:aqua;
}

a.cp2{
  color:aqua;
}

div.col-md-6 a {
  font-size:21px;
}

.Resume{
  font-size:21px;
  color:#A300FF;
  text-align: center;
  font-family: Trebuchet MS;
}

.Hack{
 font-size:21px;
  color:#00909C;
}

h4{
  text-align: center;
}

div.col-md-6 p  {
  text-align: center;
}

footer .copyright a {
font-family: mistral;
font-size: 20px;
}

footer{
  background: black;
}

a:hover{
  color:#F500FF;
}

a:hover {
color: #00D7E8;
}

div.col-md-6 {
  margin-top: 5rem;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
margin-bottom: 45px;
/*margin-top: 15rem;*/
/*font-size: 3rem;*/
  /* font-family: "Roboto Slab", serif; */
  /* font-size: 30px; */
}
section.module p {
/*margin-bottom: 40px;*/
/*font-size: 16px;*/
font-weight: 300;
/*font-family: Trebuchet MS;*/
text-align: center;
font-family: "Source Sans Pro";
}
section.module p:last-child {
  margin-bottom: 2rem;
}
section.module.content {
  padding: 40px 0;
  background: #F8F8F8;

}

p.intro1{
	color: #555;
	line-height: 1.6;
	font-size: 20px;
	margin-bottom: 3rem;
}

p.intro2{
	color: #555;
	line-height: 1.6;
	font-size: 20px;
	margin-bottom: 3rem;
}

p.intro3{
	color: #555;
	line-height: 1.6;
	font-size: 20px;
	margin-bottom: 3rem;
}

p.intro4{
	color: #555;
	line-height: 1.6;
	font-size: 20px;
	margin-bottom: 3rem;
}

p {
	font-size: 16px;
}

p.mkb-p{
  color: #FFF;
font-size: 18px;

}

.sut {
font-size: 16px;
padding-left: 3rem;
padding-right: 3rem;
}

ul.project.list .think {
  margin-bottom: 0px;
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: #FFF;
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 .1em #ECECEC;
}
section.module.parallax-1 {
  background-image: url("../img/demo/_small/beach7.png");
}
section.module.parallax-2 {
  background-image: url("../img/demo/_small/beach2.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/demo/_small/mccartney.jpg");
}

@media all and (max-width: 900px) {
/*   section.module h2 {
  font-size: 42px;
} */
/*  section.module p {
    font-size: 100%;
  }*/
  section.module.parallax h1 {
    font-size: 25px;
  }

  h1 {
font-size: 21px;
color: #00909C;
text-align: center;
margin-bottom: 6rem;
font-family: 'Montserrat', sans-serif;
}

section.module.parallax h1 {
line-height: 500px;
}

.introduction-section {
padding-left: 1rem;
padding-right: 1rem;
}

p.intro1{
	font-size: 15px;
	line-height: 2.5rem;
}

p.intro2{
	font-size: 15px;
	line-height: 2.5rem;
}

p.intro3{
	font-size: 15px;
	line-height: 2.5rem;
}

p.intro4{
	font-size: 15px;
	line-height: 2.5rem;
}

p{
  color: black;
 font-family: 'Montserrat', sans-serif;
 
 } 

p.mkb-p{
  color: #FFF;
font-size: 18px;

}

.sut {
font-size: 13px;
padding-left: 3rem;
padding-right: 3rem;
}
section.module p {
font-size: 16px;

}

h2 {
font-size: 21px;
color: #00909C;
text-align: center;
font-family: 'Montserrat', sans-serif;
}

h3.praise {
color: #555;
font-family: "Source Sans Pro";
line-height: 1.6;
text-align: center;
/* margin-bottom: 20rem; */
font-size: 16px;
font-weight: 100;
}

h3.name{
color: #00909C;
font-family: "Source Sans Pro";
line-height: 1.6;
text-align: center;
margin-bottom: 20rem;
font-size: 14px;
font-weight: 700;
}

p {
color: #000;
font-family: 'Montserrat', sans-serif;
font-size: 15px;
}

.think {
color: #084A4F;
font-size: 2.5rem;
}

}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 68px;
    text-shadow: 0 0 .1em #ECECEC;
  }
}
